a{
  text-decoration: none;
  display: block;
}
.shadow{
  box-shadow: 0px 0px 10px gray;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  .blog{
    width: 750px;
    padding: 1em;
    background-color: $darkAlfa;
    border-radius: 25px;
    position: relative;
    @extend .shadow;
    img{
      width: 20%;
      margin: auto;
    }
  }
}

