@import './vars';
@import './parts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $light;
    background-image: url(../../public/warehouse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    min-height: 100vh;
    #register{
        .container{
            .blog{
                .form-group{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        flex-direction: column;
                        gap: .5em;
                        h3{
                            text-align: center;
                            font-size: 1.8rem;
                            color: white;
                            width: 100%;
                            padding: 1em;

                        }
                        input{
                            width: 100%;
                            padding: 1em;
                            font-size: 1.4rem;
                            outline: none;
                            border: 1px solid $aqua;
                            box-shadow: 0px 0px 10px gray;
                            &::placeholder{
                                font-weight: 200;
                                letter-spacing: 2px;
                            }
                        }
                        input[type=button]{
                            width: auto;
                            background-color: $dark;
                            color: $light;
                            cursor: pointer;
                        }
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    #register{
        .container{
            .blog{
                    .form-group{
                        h3{
                            font-size: 1.2rem !important;

                        }
                        input{
                            padding: .5em !important;
                            font-size: 1.1rem !important;
                        }
                    }
            }
        }
    }
    #warehouse{
        .container{
            display:  flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:.5em;
            a{
                button{
                    padding: .5em 1.5em;
                    border: none;
                    outline: none;
                    background-color: $dark;
                    color: $aqua;
                }
            }
        }
    }
}