@import './vars';
@import './parts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $light;
    background-image: url(../../public/warehouse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
    width: 100%;
    min-height: 100vh;
    #register{
        .container{
            padding-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .blog{
                width: 750px;
                padding: 1em;
                background-color: $darkAlfa;
                position: relative;
                @extend .shadow;
                .form-group{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        flex-direction: column;
                        gap: .5em;
                        input{
                            width: 100%;
                            padding: 1em;
                            font-size: 1.4rem;
                            outline: none;
                            border: 1px solid $aqua;
                            box-shadow: 0px 0px 10px gray;
                            &::placeholder{
                                font-weight: 200;
                                letter-spacing: 2px;
                            }
                        }
                        
                }
            }
        }
    }
    #warehouse{
        .container{
            .blog{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:1em;
                button{
                    width: 150px;
                    padding: 1em 1.5em;
                }
            }           
        }
    }
    #view{
        .container{
            flex-direction: column;
            .blog{
                width: 100%;
                padding: .5em 0;
                input{
                    width: 100%;
                }
                >button {
                    background-color: $aqua;
                    color: $dark;
                }
                &:nth-child(2){
                    overflow-X: scroll;
                }
                table{
                    font-size: .8em;
                    background-color: $darkAlfa;
                    color: $light;
                    border-collapse: collapse;
                    border: 1px solid;
                    tr{
                        th{
                            background-color: $dark;
                            font-weight: 500;
                        }
                        td,th{
                            padding: .3em .5em;
                            border: 1px solid;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    #register{
        .container{
            .blog{
                    .form-group{
                        h3{
                            font-size: 1.2rem !important;

                        }
                        input{
                            padding: .5em !important;
                            font-size: 1.1rem !important;
                        }
                    }
            }
        }
    }
    #warehouse{
        .container{
            display:  flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:.5em;
            a{
                button{
                    padding: .5em 1.5em;
                    border: none;
                    outline: none;
                    background-color: $dark;
                    color: $aqua;
                }
            }
        }
    }
}