a {
  text-decoration: none;
  display: block;
}

.shadow, body #register .container .blog {
  box-shadow: 0px 0px 10px gray;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.btn {
  width: auto;
  background-color: #020202;
  color: #C5C5C5;
  cursor: pointer;
  padding: 0.5em;
  border: none;
  outline: none;
}

.btn-in {
  box-shadow: inset 0px 0px 10px gray;
}

.h-title {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  padding: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C5C5C5;
  background-image: url(../../public/warehouse.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
body #register .container {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #register .container .blog {
  width: 750px;
  padding: 1em;
  background-color: rgba(1, 1, 1, 0.79);
  position: relative;
}
body #register .container .blog img {
  width: 20%;
  margin: auto;
}
body #register .container .blog .form-group {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 0.5em;
}
body #register .container .blog .form-group input {
  width: 100%;
  padding: 1em;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid #0BDDF6;
  box-shadow: 0px 0px 10px gray;
}
body #register .container .blog .form-group input::-moz-placeholder {
  font-weight: 200;
  letter-spacing: 2px;
}
body #register .container .blog .form-group input::placeholder {
  font-weight: 200;
  letter-spacing: 2px;
}
body #warehouse .container .blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
body #warehouse .container .blog button {
  width: 150px;
  padding: 1em 1.5em;
}
body #view .container {
  flex-direction: column;
}
body #view .container .blog {
  width: 100%;
  padding: 0.5em 0;
}
body #view .container .blog > button {
  background-color: #0BDDF6;
  color: #020202;
}
body #view .container .blog:nth-child(2) {
  overflow-X: scroll;
}
body #view .container .blog table {
  font-size: 0.8em;
  background-color: rgba(1, 1, 1, 0.79);
  color: #C5C5C5;
  border-collapse: collapse;
  border: 1px solid;
}
body #view .container .blog table tr th {
  background-color: #020202;
  font-weight: 500;
}
body #view .container .blog table tr td, body #view .container .blog table tr th {
  padding: 0.3em 0.5em;
  border: 1px solid;
}

@media screen and (max-width: 768px) {
  #register .container .blog .form-group h3 {
    font-size: 1.2rem !important;
  }
  #register .container .blog .form-group input {
    padding: 0.5em !important;
    font-size: 1.1rem !important;
  }
  #warehouse .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
  }
  #warehouse .container a button {
    padding: 0.5em 1.5em;
    border: none;
    outline: none;
    background-color: #020202;
    color: #0BDDF6;
  }
}/*# sourceMappingURL=style.css.map */